.capitaisContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 25px;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

button {
  padding: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}
